*{
    padding: 0;
    margin: 0;
}
.wrapBg{
    width: 343px;
    height: 480px;
    margin: 0 auto;
    background-image: url(../img/bg.jpg);
    position: relative;
    top: 100px;
    overflow: hidden;
}
.headTitle{
    width: 236px;
    height: 77px;
    background-image: url(../img/head.jpg);
    position: absolute;
    left: 53px;
    top: 100px;
}